h1 {
    text-align: center;
    text-decoration:underline;
}


#inputContainer {
    display: flex;
    justify-content: end;
    margin-right: 250px;
    gap: 10px;
}
label {
    font-size: large;
    align-self: center;
}
input {
    font-size: large;
}


#container{
    border: 2px solid black;
    height: 85vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}

.smallContainer {
    flex: 1;
    display: flex;
}

.gridDiv {
    flex: 1;
    border: 1px solid rgba(201, 196, 196, 0.25);
}