h1 {
    text-align: center;
    text-decoration:underline;
}

input {
    font-size: large;
    margin-bottom: 20px;
}
label {
    position: absolute;
    margin: 5px;
    color:rgba(0, 0, 0, 0.5);
    font-style: italic;
}

#container{
    border: 2px solid black;
    width: 98vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.smallContainer {
    flex: 1;
    display: flex;
}

.gridDiv {
    flex: 1;
    border: 1px solid rgba(201, 196, 196, 0.5);
}